@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
/* 
h2 {
    background: url(../img/zen.svg);
    background-repeat: no-repeat;
    background-size: contain;
    
} */
*{
    padding: 0;
    margin: 1;
}

p {
    font-family: 'IBM Plex Mono', monospace;
    padding-left: 100px;
    padding-right: 100px;
}


h2 {
    font-family: 'Satisfy', cursive;
    text-align: center;
    background: url(zen.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 600px;
    font-size: 18px;
    color: white;
    
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: 2px 4px black;
    text-transform: uppercase;

}

header {
    background-image: url(huntington.png);
    padding: 60px;
    background-size: 1900px 300px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

h3 {
    font-weight: 500;
    padding-left: 100px;
}

#zen-participation, #zen-benefits {
    background-color: rgb(120, 158, 62);
    background-image: url(bamboo.png);
    padding: 0.1px;
    color: white;
}

#zen-requirements [role="contentinfo"] a {
    font-family: 'Satisfy', cursive;
    font-size: 42px;
    color: white;
}

#zen-requirements [role="contentinfo"] {
    background-color: rgb(120, 158, 62);
    font-size: 15px;
    margin-bottom: 0;
    text-align: center;
}

footer {
    background-color: rgb(124, 140, 196);
    padding: 10px;
    text-align: center;
}

footer a {
    font-size: 40px;
    text-decoration: none;
    word-spacing: 30px;
    color: white;

}

#select, h3 {
    color:white;
    font-size: 0px;
}

#design-selection, li, a {
    list-style-type: none;
    color: green;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
}

#design-selection, #design-archives {
    background-color: rgb(214, 226, 222);
    padding: 10px;
}

#zen-resources {
    background-color:rgb(140, 179, 150);
    background-image: url(bamboo.png);
}

#zen-resources, a {
    columns: 2;
    text-decoration: none;
    padding: 10px;
    outline: none;
    text-align: center;

}

[role = navigation] li {
    outline: none;
    display: inline-block;
    width:48%;
    text-align: center;
    line-height: 3;
    border-bottom: 1px solid grey;
}